@page
@model CRUD.ManagementUser.Bsui.Areas.Identity.Pages.Account.CreateUserModel

@{
    ViewData["Title"] = "Register";
}

<div class="row h-100">
    <div class="col-md-6">
        <div class="centered-position">
            <div class="row">
                <div class="col-md-12">
                    <section>
                        <form method="post">
                            @Html.AntiForgeryToken()

                            <h1 class="mb-5">@ViewData["Title"]</h1>
                            @*<div class="form-group">
                                <input asp-for="Input.FullName" class="form-control-login" placeholder="FullName" />
                                <div class="text-danger">
                                    <span asp-validation-for="Input.FullName"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.Position" class="form-control-login" placeholder="Position" />
                                <div class="text-danger">
                                    <span asp-validation-for="Input.Position"></span>
                                </div>
                            </div>*@
                            <div class="form-group">
                                <input asp-for="Input.Email" class="form-control-login" placeholder="Email" />
                                <div class="text-danger">
                                    <span asp-validation-for="Input.Email"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.Password" class="form-control-login" placeholder="Password" />
                                <div class="text-danger">
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn-login">REGISTER</button>
                            </div>
                            <div class="form-group">
                                @if (ModelState.ErrorCount > 0)
                                {
                                    <div asp-validation-summary="All" class="alert alert-danger"></div>
                                }
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="dark-side">
        </div>
    </div>
</div>
